<body>
  Welcome to Hope Research Foundation, click <a
  href="<%= activation_url %>">here</a> or paste the
  following link into your browser to activate your account.
  <br><a href="<%= activation_url %>"><%= activation_url %></a><br><br>
</body>