<body>
  <strong>Hi<%= name %>
  <br><br>
  Reset your password, and we'll get you on your
  way.<br><br>To change your password, click <a href="<%=
  forget_url %>">here</a> or paste the
  following link into your browser:
  <br><a href="<%= forget_url %>">
    <%= forget_url %></a><br><br>
</body>